@page
@model dbproject.Pages.scheduleupdateModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="formstyler.css">
    <title></title>
</head>
<form method="post">
    <intput type="hidden" name="m" value="@Model.info.m">
        @if (Model.errormessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>
                    <strong>@Model.errormessage </strong>
                </strong>
                <button type="button" class="btn-close" aria-label="Close">close</button>
            </div>
        }
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Result</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="r" value="@Model.info.r" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">opposition</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="o" value="@Model.info.o" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Scoreline</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="s" value="@Model.info.s" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">date</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="d" value="@Model.info.d" />
            </div>
        </div>
        @if (Model.smessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col sm-9">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>
                            <strong> @Model.smessage </strong>
                        </strong>
                    </div>
                </div>
            </div>
        }
        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary" href="viewschedule">SUBMIT</button>
            </div>
            <div class="offset-sm-3 col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="viewschedule" role="button">CANCEL</a>
            </div>
        </div>
</form>