@page
@model dbproject.Pages.spicreateModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="formstyler.css">
    <title></title>
</head>
<form method="post">
    @if (Model.errormessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
                <strong>@Model.errormessage </strong>
            </strong>
            <button type="button" class="btn-close" aria-label="Close">close</button>
        </div>
    }
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">pid</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pid" value="@Model.info.pid" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">agency_name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="agency_name" value="@Model.info.agency_name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">contact</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="contact" value="@Model.info.contact" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.info.address" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">contract</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="contract" value="@Model.info.contract" />
        </div>
    </div>
    @if (Model.smessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col sm-9">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>
                        <strong> @Model.smessage </strong>
                    </strong>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary" href="injury">SUBMIT</button>
        </div>
        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="xsign" role="button">CANCEL</a>
        </div>
    </div>
</form>
